.github h1 {
  font-size: 2.5rem;
}

.github table {
  color: #8f8f8f;
}

.github table {
  width: 70vw;
}

.githubInfoBox {
  display: flex;
  flex-direction: column;
  background: #043100;
  color: #8f8f8f;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
