<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}" />
    <title>Infoogle</title>
</head>
<body>
    <h1 class="infoogle">Infoogle</h1>
    <h1 class="infoogleDescription">Find public information and posts in seconds!</h1>
    <form method="POST" class="flex">
        <select name="platform" class="platform">
            <option value="github">Github</option>
            <option value="stackoverflow">Stack Overflow</option>
            <option value="stackexchange">Stack Exchange</option>
            <option value="askubuntu">Ask Ubuntu</option>
            <option value="twitter">Twitter</option>
        </select>
        <input name="username" class="searchBar" type="text" placeholder="Username... (Ex. taptaplit)"/>
    </form>
    <div class="sourceCode">
        <a href="https://github.com/taptaplit/infoogle">Source Code</a>
    </div>
</body>
</html>